sheet_id      = "YOUR_MAIN_GOOGLE_SHEET_ID"
ping_sheet_id = "YOUR_PING_SHEET_ID"
my_email      = "your-email@example.com"

[users]
drvaisakh = "your_password_here"
admin     = "another_password_here"

[gcp_service_account]
type                        = "service_account"
project_id                  = "your-project-id"
private_key_id              = "FROM_JSON"
private_key                 = "FROM_JSON"
client_email                = "your-bot@your-project.iam.gserviceaccount.com"
client_id                   = "FROM_JSON"
auth_uri                    = "https://accounts.google.com/o/oauth2/auth"
token_uri                   = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url        = "FROM_JSON"
